@mixin menu_layout() {

    z-index: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@mixin popupwindow() {

    @include menu_layout;
    text-align: center;
}

@mixin menu_text() {


}