@use "@cardgame/styles" as styles;

.popup {
    background-color: styles.$popup_background;
    border-radius: 2%;
    z-index: 1;
    position: absolute;
    display: flex;
    width: 60%;
    height: 90%;
}

.popup_column {
    @include styles.menu_layout
}